@model PandosAPI.Models.Uniprot

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Uniprot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccessionNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccessionNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sequence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sequence)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UniprotId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
